
*{
    /* margin: 0; */
    padding: 0;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 10px;
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
}

Nav ul li{
    list-style: none;
}
.btn-primary{
    background-color: #006A50;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    border: none;
}

.btn-signin{
    background-color: white;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
}

.btn-signin:hover{
    background-color:#006A50 ;
    color: white;
}
/* Banner */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#C6E4D6;
    border-radius: 24px;
    padding-right: 40px;
}
.dark-2{
    color: #696262 ;
}

.banner-title{
    font-size: 24px;
   }

   .banner-description{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
   }
.banner-content{
    max-width: 622px;
    padding: 60px 117px ;
    
}
.banner-image{
    width: 474px;
}
.main{
    
    margin: 80px 160px 80px 160px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
}
.vision-description{
    font-size: 16px;
}
.vision{
    margin-top: 32px;
}
.visions{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.space{
    word-spacing: 20px;
}
.vision-1{
    background-color: #6297f383;
    padding: 24px;
    border-radius: 15px;
    }
    .vision-titile {
        font-size: 20px;
        font-weight: bold;
    }
    .vision-button-1{
        background-color: #4589fd;
        padding: 11px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;

    }
    .vision-2{
        background-color: #C6E4D6;
        padding: 24px;
        border-radius: 15px;
        }
    

    .vision-button-2{
        background-color: #09A15C;
        padding: 11px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;

    }

    .vision-3{
        background-color: #F7EBCF;
        padding: 24px;
        border-radius: 15px;
        }
    

    .vision-button-3{
        background-color: #FFC239;
        padding: 11px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;

    }
    .dr{
        padding: 24px 48px;
        border: 1px solid rgb(215, 218, 221) ;
    border-radius: 15px;
    margin-top: 32px;
    }
.dr-yunus{
    padding: 12px 0;
    background-image:url(../assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-position: top left;
    }
    

    .rc-titile{
        font-size: 32px;
        font-weight: bold;
        color: #0e0e0ed3;
    }

    .st-image{
        border-radius: 25px;
    }
    .st-container{
        display: flex;
        gap: 30px;
        margin-top: 32px;
    }
    .st-container-2{
        display: flex;
        gap: 30px;
    }

    .st-bg{
        background-color: #f1ebebe0;
        padding: 48px;
        border-radius: 20px;
        
    }

    .button-d{
        background-color: rgb(243, 242, 240);
        padding: 40px;
        font-size: 40px;
        font-weight: bold;
        border-radius: 20px;
        border: rgb(215, 218, 221);
        margin-right: 25px;
        color: #696262;
    }


    .button-d-c{ background-color:#C6E4D6;
         padding: 40px;
        font-size: 40px;
        font-weight: bold;
        border-radius: 20px;
        border: rgb(215, 218, 221);
        margin-right: 25px;
        color: #696262;

    }
   
    .text-align{
        text-align: center;
    }
    .bt-align{
        margin-right: 10px;
    }

    .donte{
        margin-top: 32px;
        padding: 0 104px;
    }
.donte input[type="text"]{
    height: 64px;
    width: 1032px;
    text-align: center;
    font-size: 20px;
    margin-right: 25px;
    border: 1px solid rgb(215, 218, 221);
    border-radius: 15px;
    
    }

.Pillars-container{
    display: flex;
    gap: 24px;
    }

    .pillars{
        border: 1px solid rgb(215, 218, 221);
        border-radius: 15px;
        padding: 24px;
    }

    .email{
        display: flex;
        justify-content: center;
        gap: -30px;
    }

    .icon{
        display: flex;
        gap: 23px;
        margin: 50px;
        justify-content: center;
        align-items: center;
    }
    
   

    .subscribe{
        background-color: #C6E4D6;
        padding: 80px 265px;
        border-radius: 15px;
    }

    .subscribe-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label{
        position: relative;
    }

    label input[type="text"]{
        border: none;
        width: 750px;
        height: 56px;
        padding: 0 15px;
        border-radius: 15px 0 0 15px;
    }

   .btn-sb{
        color:white;
        background-color: #006A50;
        font-size: 18px;
        padding: 17px 34px;
        border: none;
        border-radius: 0 15px 15px 0;

   }

   .e-align{
    margin-left: 30px;
    font-size: 18px;
   }

.hv-buttnon{
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    margin-right: 20px;
    color: rgb(100, 95, 95);
    background-color: rgb(240, 238, 238);
    border-radius:15px ;
    border: 1px solid rgb(215, 218, 221) ;
  }

.hv-buttnon:hover{
    background-color: #C6E4D6;
     }